body{
    width: 100%;
    background-color: #d4f3ff;
}

.content-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.hide {
    display: none;
}

li {
    list-style-type: none;
}